@(u: models.tables.pojos.Users )(implicit request: Http.Request) 

<html lang="en">

	<head>
		<title>Utilisateurs</title>
		<meta charset="utf-8">

<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap.css")">
		<link rel="stylesheet" href="@routes.Assets.versioned("assets/vendor/fonts/fontawesome/css/fontawesome-all.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/jquery.dataTables.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("highcharts/hich.css")">
		<link rel="shortcut icon" href='@routes.Assets.versioned("images/logo.jpg")'/>
		 
    </head>
    <body >
    <br><br>

<form method="POST" name="form"
			action="@controllers.routes.AuthenticationCtrl.changepass() "
			class="needs-validation"  autocomplete="off">
			@helper.CSRF.formField
			  <input type="hidden" name="log" value="@u.getLogin">
			  
			  
<div class="form-row">



 
     <div style="padding-top: 20px" class="container">
	                        @if(request.flash.get("error").isPresent()) {
	                            <div id="feedBackArea" style="margin-bottom: 6px !important;" class="alert alert-danger alert-dismissible"> @request.flash.get("error").get</div>
	                        }
	                        @if(request.flash.get("warning").isPresent()) {
	                            <div id="feedBackArea" style="margin-bottom: 6px !important;" class="alert alert-warning alert-dismissible">@request.flash.get("warning").get</div>
	                        }
	                        @if(request.flash.get("success").isPresent()) {
	                            <div id="feedBackArea" style="margin-bottom: 6px !important;" class="alert alert-success alert-dismissible">@request.flash.get("success").get</div>
	                        }
	                    </div>





<div class="col-xl-offset-3 col-lg-offset-3 col-md-offset-3 col-xl-6 col-lg-6 col-md-6  col-6">

<h3 >Changé votre mot de passe avant de continuer</h3>


<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
<label for="password">Nouveau password</label>
<input type="password" name="npasse" required="required"
										
										class="form-control"
										placeholder="Nouveau mot de passe"
										required="required" >

</div>


<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
<label for="password">Retaper Nouveau password</label>
<input type="password" name="rnpasse" required="required"
										
										class="form-control"
										placeholder="Retaper Nouveau mot de passe"
										required="required" >

</div>

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
<label for="Batiment">Batiment</label>

<select  name="bat" class="form-control" required="required" >
	<option value="">Selectionnez votre batiment</option>
	<option @if(null != u.getBatiment && u.getBatiment.equals("Batiment principal")){selected="selected"} value="Batiment principal">Batiment principal</option>
	<option @if(null != u.getBatiment && u.getBatiment.equals("Batiment DSEDS/DER")){selected="selected"} value="Batiment DSEDS/DER">Batiment DSEDS/DER</option>
	<option  @if(null != u.getBatiment && u.getBatiment.equals("Batiment ENSTAT")){selected="selected"} value="Batiment ENSTAT">Batiment ENSTAT</option>										
</select>

</div>


<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
<label for="Niveau">Niveau</label>

<select  name="niv" class="form-control" required="required" >
	<option value="">Selectionnez le niveau</option>
	<option @if(null != u.getNiveau && u.getNiveau.equals("R0")){selected="selected"} value="R0">R0</option>
	<option @if(null != u.getNiveau && u.getNiveau.equals("R1")){selected="selected"} value="R1">R1</option>
	<option @if(null != u.getNiveau &&  u.getNiveau.equals("R2")){selected="selected"} value="R2">R2</option>										
</select>

</div>

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
<label for="numporte">Numéro porte</label>
<input type="text" name="por" class="form-control" placeholder="Saisissez votre N° porte" required="required" value="@u.getPorte()">
</div>




<div class="card-footer d-flex text-muted">
<table class="table table-hover">
<tr>
<td style="text-align: left">
<a href="/logout"
							class="btn btn-danger btn-sm">Rétour</a> 
</td>
<td style="text-align: right">
					
							<button type="submit" class="btn btn-primary btn-sm">Valider</button> 
</td>
</tr>
</table>

</div>
</form>






</div>

 </div>



   
    	
        
        <script src="@routes.Assets.versioned("js/jquery-3.2.1.js")" ></script>
        <script src="@routes.Assets.versioned("js/bootstrap.js")" ></script>
	<script src="@routes.Assets.versioned("assets/vendor/slimscroll/jquery.slimscroll.js")"></script>
		<script src='@routes.Assets.versioned("javascripts/jquery.autocomplete.min.js")' type='text/javascript'></script>

	</body>
</html>

